{
	"extends": ["eslint:recommended", "prettier"],
	"parserOptions": {
		"requireConfigFile": false,
		"ecmaVersion": "latest",
		"sourceType": "module",
		"babelOptions": {
			"plugins": ["@babel/plugin-syntax-import-assertions"]
		}
	},
	"parser": "@babel/eslint-parser",
	"env": {
		"node": true,
		"es2021": true
	},
	"overrides": [
		{
			"files": ["lib/addons/filters/*.js"],
			"rules": {
				"no-undef": "off"
			}
		}
	]
}
