{
	"root": true,
	"plugins": ["unicorn"],
	"extends": ["eslint:recommended", "plugin:unicorn/recommended", "prettier"],
	"rules": {
		"unicorn/no-useless-undefined": ["error", { "checkArguments": false }],
		"unicorn/text-encoding-identifier-case": 0,
		"unicorn/prevent-abbreviations": [
			"error",
			{ "replacements": { "pkg": false } }
		]
	},
	"env": {
		"node": true,
		"es2021": true
	}
}
