{
	"extends": ["eslint:recommended", "prettier"],
	"parserOptions": {
		"requireConfigFile": false,
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"env": {
		"node": true,
		"es2021": true
	},
	"overrides": [
		{
			"files": ["lib/addons/filters/*.js"],
			"rules": {
				"no-undef": "off"
			}
		}
	]
}
